body,h1,h2,h3,p,div,ul,li,img,a,span,i,strong,b,em,dl,dt,dd,input{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none; color:#fff;}
a:hover{ color:#fff; text-decoration:underline;}
img{ border:0 none; vertical-align:top;}
input,button{ cursor: pointer; -webkit-appearance: none;border: none;}
html{ font-size: 625%;}
body{ 
	background:#e4d6f4; 
	font-family:"微软雅黑"; 
	max-width: 640px; 
	min-width: 320px; 
	margin: 0 auto;
	font-size: 0.24rem;}
.clearfix{ *zoom:1;}
.clearfix:after{ content:"."; display:block; height:0; visibility:hidden; clear:both;}

.choujiang{width:100%;background: url(../img/bg.jpg) no-repeat;}
.choujiang h1{font-size: 1.40rem;text-align: center;color: #c3a9e1;}
.choujiang .pan{position:relative;width: 5.17rem;height:5.17rem;margin: -0.40rem auto 0;background: url(../img/pan.png) no-repeat; transform-origin: 50% 50%;}
.choujiang .pan img{display: block;position: absolute;top:1.92rem;left: 2.03rem;width: 1.11rem;height: 1.22rem;}
.choujiang .button{width: 5.80rem;height: 0.90rem;margin:0.35rem auto 0.17rem;line-height:0.90rem;border-radius: 0.05rem;background: #ffb417;}
.choujiang input{width:100%;height:100%;font-size: 0.36rem;font-weight: bold;text-align: center;color: #121212;background: none;}
.rule{width: 5.80rem;margin: 0.08rem auto 1.60rem;}
.rule dt{line-height: 0.52rem;color: #333;font-weight: bold;}
.rule dd{line-height: 0.36rem;color: #666;}
